name: Build

on: [push, workflow_dispatch]

jobs:
  build-on-linux:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Configure and build
        run: |
          cmake . -B build
          cmake --build build
      - name: Test
        run: |
          cd build/tests
          ctest --output-on-failure

  build-on-windows:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Configure and build
        run: |
          cmake . -B build -A x64
          cmake --build build --config Release

      - name: Test
        run: |
          cd build/tests
          ctest -C Release --output-on-failure

  conan-on-darwin:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-10.15 ]

    steps:
      - uses: actions/checkout@v2

      - name: Install prerequisites
        run: |
          pip3 install conan
      - name: Configure and build
        run: |
          cmake . -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build
